Repository FRONTENDSCHOOL5/final-05-Mandle_mandle, pull requests merged in 2023-06, with the labels that each got.

#87 Feature/common
  src/components/Common/GoBackButton.jsx
  src/components/Common/TopNav.jsx
Labels: 디자인

#89 Feature/login
  package-lock.json
  package.json
  src/App.js
  src/Store/userInfoAtoms.jsx
  src/index.js
  src/pages/Home/Home.jsx
  src/pages/Login/Login.jsx
Labels: 기능 구현, 버그, Login Page, Loading Page, Intro Page

#104 Feature/common
  src/App.js
  src/components/Common/AlertModal.jsx
  src/components/Common/MenuBar.jsx
  src/components/Common/Modal.jsx
  src/components/Common/PostList/PostContent.jsx
  src/components/Common/PostList/PostList.jsx
  src/components/Common/PostList/PostProfile.jsx
  src/components/Common/TopNav.jsx
Labels: 디자인, 기능 구현, Home Page, Common Components
